.cell{
    width: 50px;
    height: 50px;
    background-color: blue;
    margin: 1px;
    float:left;
}
body{
    text-align: center;
}
.clearfix{
    content: "";
    clear: both;
    display: table;
}
#PlaceForTheField{
    margin: 30px auto;
}

#menu{


    display: inline-block;

}

#people{
    display: inline-block;
    padding-right:100px;
}

#computer{
    display: inline-block;

}

#modal {
    position: absolute;
    width: 300px;
    margin-left: -150px;
    left: 50%; top: -100%;
    padding: 20px;
    background: #fff;
    border: 1px solid #333;
    z-index: 9999;
    transition: all 0.5s ease-in;
}

.overflow {
    width: 100%;
    height: 100%;
    z-index: 9998;
    background: rgba(0,0,0,0.7);
    position: absolute;
    top: 0;
}